<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes do Cliente</title>
    <!-- Adicione o link para o CSS do Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="bg-light">
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header bg-primary text-white">
                        Detalhes do Cliente
                    </div>
                    <div class="card-body">
                        <!-- <p><strong>ID:</strong> </p> -->
                        <p>ID: <strong th:text="${cliente.id}">asdf</strong></p>
                        <p>Nome: <strong th:text="${cliente.nome}">asdf</strong></p>
                        <p>CPF: <strong th:text="${cliente.cpf}">asdf</strong></p>
                        <p>Telefone: <strong th:text="${cliente.telefone}">asdf</strong></p>
                        <p>Saldo: <strong th:text="${cliente.conta.saldo}">asdf</strong></p>

                        <hr>
                        Transações:
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Data</th>
                                    <th>Valor</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- Loop pelos itens aqui -->
                                <tr th:each="transacao : ${cliente.conta.transacaoList}">
                                    <td th:text="${transacao.id}"></td>
                                    <td th:text="${transacao.data}"></td>
                                    <td th:text="${transacao.valor}"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer text-center">
                        <a href="#" class="btn btn-primary">Editar</a>
                        <a href="#" class="btn btn-secondary ml-2">Voltar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Adicione o link para o JS do Bootstrap no final do body -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>